<!-- ░░ GUEST NAVBAR ░░ -->
<li class="nav-item"><a class="nav-link fw-bold" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link fw-bold" href="{% url 'services' %}">Services</a></li>
<li class="nav-item"><a class="nav-link fw-bold" href="{% url 'worker_list' %}">Workers</a></li>
<li class="nav-item"><a class="nav-link fw-bold" href="{% url 'login' %}">Login</a></li>
<li class="nav-item">
    <a class="btn-vibrant py-2 px-4 text-decoration-none fw-black"
        href="{% url 'register_choice' %}">GET STARTED</a>
</li>
