{% extends 'base.html' %}

{% block content %}

<!-- HERO SECTION -->
<div class="hero text-center p-5">
    <h1>Book Trusted Maids & Helpers in Minutes</h1>
    <p>Safe • Verified • Affordable</p>

    <a href="/workers/" class="btn btn-primary">Find Workers</a>
    <a href="/register-worker/" class="btn btn-outline-primary">Become a Worker</a>
</div>

<!-- FEATURES -->
<div class="container mt-5">
    <div class="row text-center">

        <div class="col-md-4">
            <h4>✔ Verified Workers</h4>
        </div>

        <div class="col-md-4">
            <h4>⚡ Instant Booking</h4>
        </div>

        <div class="col-md-4">
            <h4>⭐ Ratings System</h4>
        </div>

    </div>
</div>

{% endblock %}